.chat-container {
  background-color: white;
  flex-grow: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chat-header {
  color:#212529;
  width: 100%;
  font-size: 20px;
  border-bottom: 1px solid rgb(240, 240, 240);
}

.chat-header h1 {
  font-size: 24px;
}

.chat-header i {
  margin-right: 6px;
  font-size: 20px;
}

.chat-conversation {
  flex-grow: 1;
  padding: 16px 0;
  overflow: auto; /* Use auto instead of scroll to prevent unnecessary scrollbars */
  min-height: 0;
  margin-top: 16px;
  margin-bottom: 16px;
}
